<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.springframework.org/security/tags" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>

    <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'
          rel='stylesheet prefetch'/>

    <link href="/css/style2.css" rel="stylesheet" th:src="@{/css/style2.css}" type="text/css"/>
    <link href="/css/table.css" rel="stylesheet" th:src="@{/css/table.css}" type="text/css"/>
    <title>View report</title>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
<aside class="sidebar">
    <div class="nano" id="leftside-navigation">
        <ul class="nano-content">
            <li>
                <a th:href="@{/index}"><i class="fa fa-dashboard"></i><span>Home</span></a>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0);"><i class="fa fa-cogs"></i><span>Client Operations</span><i
                        class="arrow fa fa-angle-right pull-right"></i></a>
                <ul>

                    <li><a th:href="@{/clientOp/new}">Add new client</a>
                    </li>
                    <li><a th:href="@{/clientOp/search}">Edit existing client</a>
                    </li>
                    <li><a th:href="@{/clientOp/search}">View existing client</a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0);"><i class="fa fa-table"></i><span>Account operations</span><i
                        class="arrow fa fa-angle-right pull-right"></i></a>
                <ul>
                    <li><a th:href="@{/account/new}">Add new account</a>
                    </li>
                    <li><a th:href="@{/account/search}">Edit existing account</a>
                    </li>
                    <li><a th:href="@{/account/search}">View account information</a></li>
                    <li><a th:href="@{/account/search}">Delete client account</a></li>

                </ul>
            </li>
            <li class="sub-menu">
                <a th:href="@{/transfer}"><i class="fa fa-text-height"></i><span>Transfer</span></a>
            </li>
            <li class="sub-menu">
                <a th:href="@{/payment}"><i class="fa fa-text-height"></i><span>Utilities payment</span></a>
            </li>
            <li class="sub-menu" sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="javascript:void(0);"><i class="fa fa fa-tasks"></i><span>Employee operations</span><i
                        class="arrow fa fa-angle-right pull-right"></i></a>
                <ul>
                    <li><a th:href="@{/admin/new}">Add new employee</a>
                    </li>
                    <li><a th:href="@{/admin/search}">Edit employee information</a>
                    </li>
                    <li><a th:href="@{/admin/search}">View employee information</a>
                    </li>
                    <li><a th:href="@{/admin/search}">Delete employee</a>
                    </li>
                    <li><a th:href="@{/admin/report}">Generate report for employee</a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a th:href="@{/logout}"><i class="fa fa-text-height"></i><span>Log out</span></a>
            </li>
        </ul>
    </div>
</aside>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<script src="js/index.js"></script>
<table class="rwd-table">
    <tr>
        <th>ID</th>
        <th>Operation</th>
        <th>Date</th>
    </tr>
    <tr th:each="log : ${report}">
        <td th:text="${log.id}">ID</td>
        <td th:text="${log.operation}">Operation</td>
        <td th:text="${log.timestamp}">Date</td>
    </tr>
</table>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

<script src="/js/index.js"></script>
</body>

</html>