.rwd-table {
    margin: 1em 0;
    min-width: 300px;
    border-spacing: 50px 0;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

tr {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

th {
    display: none;
}

td {
    display: block;
}

:first-child {
    padding-top: .5em;
}

:last-child {
    padding-bottom: .5em;
}

:before {
    content: attr(data-th) ": ";
    font-weight: bold;

    width: 6.5em;
    display: inline-block;

@media (min-width: $ breakpoint-alpha) {
    display: none

;
}

}
}

th, td {
    text-align: left;

@media (min-width: $ breakpoint-alpha) {
    display: table-cell

;
    padding:

.25em

.5em

;

    :first-child {
        padding-left: 0;
    }

    :last-child {
        padding-right: 0;
    }
}

}


}


@import 'http://fonts.googleapis.com/css?family=Montserrat:300,400,700';

/*body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}*/

h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495E;
}

.rwd-table {
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;

tr {
    border-color: lighten(#34495E, 10%);
}

th, td {
    margin: .5em 1em;

@media (min-width: $ breakpoint-alpha) {
    padding:

1em

!important;
}

}
th, td:before {
    color: #dd5;
}

}