<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/style.css" media="all" rel="stylesheet"
          th:href="@{/css/style.css}" type="text/css"/>

    <meta charset="UTF-8"/>
    <title>Login page</title>
</head>
<body>
<div class="wrapper">
    <div class="container">
        <h1>Welcome</h1>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form class="form" method="post" th:action="@{/login}">
            <input name="username" placeholder="Username" type="text"/>
            <input name="password" placeholder="Password" type="password"/>
            <input id="login-button" type="submit" value="Login"/>
        </form>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="js/index.js"></script>

</body>
</html>
